/**
 * @file SASS file with all CSS rules
 * @author kudlav & anik97 (MIT License)
 */

@import "values";

body {
  color: $color-primary;

  .widget {
    padding: 0.8em;
    margin: 1em;
    background-color: $background-dark;
  }
}
