/**
 * @file SASS file with all CSS rules
 * @author kudlav & anik97 (MIT License)
 */

@import "values";

body {
  color: $color-text;
  background-color: #b5a584;

  .widget {
    background-color: $background-light;

    .header {
      padding: 0.8em;
      background-color: $background-dark;
      font-weight: bold;
      display: flex;

      .title {
        flex-grow: 1;
      }

      i {
        color: $color-primary;
        cursor: pointer;
      }
    }
    .body {
      padding: 0.8em;
    }
  }
}
