/**
 * @file SASS global values
 * @author kudlav & anik97 (MIT License)
 */

$color-primary: #f5b238;
$color-text: #FFF;
$background-dark: rgba(59, 59, 59, 0.9);
$background-light: rgba(59, 59, 59, 0.7);
